/**
 * Site Layout
 */
.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.site-content {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
}

.card{
    padding: 13px
}
.grid {
    display: flex;
    flex-wrap: wrap;
    &.grid-col-3{
        .grid-item {
            max-width: 33.3%;
            width: 100%;
            
        }
    }
    &.grid-col-4{
        .grid-item {
            max-width: 23%;
            width: 100%;
            padding: 1%;
        }
    }
}
.insutrial_sectors{ 
    background-size: contain;
    background-repeat: no-repeat;
    .card{
        text-align: center
    }
    .grid-item-image { 
        width: 70px;
        height: 70px;
        border: 2px solid #ff9800;
        padding: 16px;
        border-radius: 100px;
        margin: 0 auto;
        margin-bottom: 40px;
        img{
            height: 100%;
            width: 100%;
        }
        &:hover{
            background-color: #ff9800;
            img{
                filter: invert(1) brightness(1) contrast(5);
            }
        }
    }
}

@media only screen and (max-width: 1100px){
    .insutrial_sectors{
        .grid-col-4{
            .grid-item {
                max-width: 50%;
                width: 100%;
                
            }
        }
    }
} 
@media only screen and (max-width: 480px){
    .insutrial_sectors{
        .grid-col-4{
            .grid-item {
                max-width: 100%;
                width: 100%;
                
            }
        }
    }
}