/**
 * Site Layout
 */
.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.site-content {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    &.grid-col-3{
        .grid-item {
            max-width: 33.3%;
            width: 100%;
            
        }
    }
    &.grid-col-4{
        .grid-item {
            max-width: 25%;
            width: 100%;
            
        }
    }
}
.insutrial_sectors{
    .grid-item-image { 
        width: 70px;
        height: 70px;
        border: 2px solid #ff9800;
        padding: 16px;
        border-radius: 100px;
        img{
            height: 100%;
            width: 100%;
        }
        &:hover{
            background-color: #ff9800;
            img{
                filter: invert(1) brightness(1) contrast(5);
            }
        }
    }
}


@media only screen and (max-width: 640px){

}